body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.board-container {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.board-row {
  display: flex;
  justify-content: center;
}

.square {
  border: 2px solid #4a4a4a !important;
  height: 120px !important;
  width: 120px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #3a3a3a;
}

.square h2 {
  font-size: 48px;
  margin: 0;
}

h1, h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* From Uiverse.io by nikk7007 */ 
button {
  padding: 0.8em 1.8em;
  border: 2px solid #17C3B2;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
 }
 
 button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button:hover::before {
  width: 105%;
 }
 
 button:hover {
  color: #111;
 }
 